[submodule "sources_non_forked/targets.vim"]
	path = sources_non_forked/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "sources_non_forked/jedi-vim"]
	path = sources_non_forked/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "sources_non_forked/vim-racer"]
	path = sources_non_forked/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "sources_non_forked/vim-stylus"]
	path = sources_non_forked/vim-stylus
	url = https://github.com/iloginow/vim-stylus.git
[submodule "sources_non_forked/yajs.vim"]
	path = sources_non_forked/yajs.vim
	url = https://github.com/othree/yajs.vim.git
